<% @title = @active = "Puzzles" %>

<div class="container">
  <%= paginate @puzzles %>

  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <table class="table table-hover">
          <thead>
            <tr>
              <th style="width: 4em;">#</th>
              <th>Title</th>
              <th style="width: 5em;">&nbsp;</th>
              <th style="width: 8em;">Solved</th>
            </tr>
          </thead>
          <tbody>
            <% @puzzles.each do |puzzle| %>
              <tr>
                <td><%= link_to puzzle.id, puzzle_path(puzzle), target: "_blank" %></td>
                <td><%= link_to puzzle.title, puzzle_path(puzzle), target: "_blank" %></td>
                <td>&nbsp;</td>
                <td><%= link_to puzzle.solutions.select { |x| x.result == "Accepted" }.map { |x| x.hacker_id }.uniq.size, solutions_path( puzzle_id: puzzle.id, result: "Accepted" ), target: "_blank" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>